!!!
%html
  %head
    %title Weblog
    = stylesheet_link_tag :all
    = stylesheet_link_tag '//twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body

    %div{:class => 'container'}
      .sidebar
        %h1 BabaTatsuro.info
        %ul
          %li= link_to "TOP", root_path
          %li= link_to "ABOUT", about_path
      .content= yield

    %footer
      Copyright 2011 by Tatsuro Baba.
